@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import "~@wordpress/base-styles/colors";*/
/*@import "~@wordpress/base-styles/variables";*/
/*@import "~@wordpress/base-styles/mixins";*/
/*@import "~@wordpress/base-styles/breakpoints";*/
/*@import "~@wordpress/base-styles/animations";*/
/*@import "~@wordpress/base-styles/z-index";*/
/*@import '~@wordpress/block-library/src/style.scss';*/
/*@import '~@wordpress/block-library/src/theme.scss';*/

.Link_item:hover .sub_menu_lists{
    display: block;
}

.image_transitions{
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.swiper-pagination-bullet{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 2px solid #f67280;
    margin-right: 10px;
}
.swiper-pagination-bullet-active{
    background: #f67280;
}
.swiper-pagination{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg_overlay:after{
    content: ' ';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.font_roboto{
    font-family: "Roboto Thin", sans-serif;
}